@tailwind base;
@tailwind components;
@tailwind utilities;

b, strong {
    font-weight: revert;
}

.scroll-btn>* {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: #000;
    letter-spacing: 2px;
}

.scroll-btn .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 55px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 23px;
}

.scroll-btn .mouse>* {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #000;
    border-radius: 50%;
    animation: ani-mouse 2.5s linear infinite;
}