@tailwind base;
@tailwind components;
@tailwind utilities;

b, strong {
    font-weight: revert;
}

/* Scroll Down */

@-webkit-keyframes ani-mouse {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }
  
  @-moz-keyframes ani-mouse {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }
  
  @keyframes ani-mouse {
    0% {
      opacity: 1;
      top: 29%;
    }
    15% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 50%;
    }
    100% {
      opacity: 0;
      top: 29%;
    }
  }

.scroll-btn .mouse>* {
    animation: ani-mouse 2.5s linear infinite;
}

@media (max-width: 765px) {
  .header-links {
    display: none;
  }
  .header-hanberger, .sidebar {
    display: block;
  }
  .work-cards {
    flex-basis: 100%;
  }
}

@media (min-width: 766px) {
  .header-links {
    display: flex;
  }
  .header-hanberger, .sidebar {
    display: none;
  }
  .work-cards {
    flex-basis: 47%;
  }
}

@media (min-width: 1071px) {
  .work-cards {
    flex-basis: 48%;
  }
}